<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-xs-12 col-md-push-6">
        <div class="site-footer-links">
          <ul>
            <li class="site-footer-links-item"><a class="hvr-underline-from-center" href="http://www.tradesparq.com/content/about-us?lang=zh-CN">关于我们</a></li>
            <li class="site-footer-links-item"><a class="hvr-underline-from-center" href="http://www.tradesparq.com/content/products-services?ref=topNav_pricing&lang=zh-CN">产品服务</a></li>
            <li class="site-footer-links-item"><a class="hvr-underline-from-center" href="http://www.tradesparq.com/content/feedback?lang=zh-CN">客户反馈</a></li>
            <li class="site-footer-links-item"><a  class="hvr-underline-from-center" href="http://www.tradesparq.com/content/contact-us?lang=zh-CN">联系我们</a></li>
          </ul>
          <ul>
            <li class="site-footer-social-item">
              <a target="_blank" href="http://www.twitter.com/tradesparq" title="Twitter">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="site-footer-social-item">
              <a target="_blank" href="http://facebook.com/Tradesparq" title="Facebook">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="site-footer-social-item">
              <a target="_blank" href="https://www.linkedin.com/company/787807" title="LinkedIn">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="site-footer-social-item">
              <a target="_blank" href="http://www.tradesparq.com/blog/" title="Blog">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-md-pull-6">
        <div class="site-footer-brand">
          <a target="_blank" href="http://www.tradesparq.com/?lang=zh-CN">
            <img class="img-responsive hidden-xs hidden-sm" src='{{ "/assets/images/ts-logo-110w.png" | prepend: site.baseurl }}' alt="">
          </a>
          <p class="footer-copyright text-muted">© 2015 Tradesparq Ltd. All Rights Reserved.</p>
        </div>
      </div>

    </div>
  </div>
</footer>

<!-- <footer class="site-footer">
  <div class="site-footer-brand">
    <img class="img-responsive hidden-xs hidden-sm" src='{{ "/assets/images/110.png" | prepend: site.baseurl }}' alt="">
    <p class="footer-copyright text-muted">© 2015 Tradesparq Ltd. All Rights Reserved.</p>
  </div>
  <div class="site-footer-links">
    <ul>
      <li class="site-footer-links-item"><a class="hvr-underline-from-center" href="http://www.tradesparq.com/content/about-us?lang=zh-CN">关于我们</a></li>
      <li class="site-footer-links-item"><a class="hvr-underline-from-center" href="http://www.tradesparq.com/content/products-services?ref=topNav_pricing&lang=zh-CN">产品服务</a></li>
      <li class="site-footer-links-item"><a class="hvr-underline-from-center" href="http://www.tradesparq.com/content/feedback?lang=zh-CN">客户反馈</a></li>
      <li class="site-footer-links-item"><a  class="hvr-underline-from-center" href="http://www.tradesparq.com/content/contact-us?lang=zh-CN">联系我们</a></li>
    </ul>
    <ul>
      <li class="site-footer-social-item">
        <a target="_blank" href="http://www.twitter.com/tradesparq" title="Twitter">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="site-footer-social-item">
        <a target="_blank" href="http://facebook.com/Tradesparq" title="Facebook">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="site-footer-social-item">
        <a target="_blank" href="https://www.linkedin.com/company/787807" title="LinkedIn">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="site-footer-social-item">
        <a target="_blank" href="http://www.tradesparq.com/blog/" title="Blog">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</footer> -->

<script src="/assets/js/require.js" defer async="true" ></script>
<script src="/assets/js/require.js" data-main="/assets/js/app"></script>


<!-- Crazy Egg Tracking Script -->
<script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0034/1252.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
