<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
	<meta property="og:title" content="REDEF - Daily Mix Media: July 16, 2015">
  <meta property="og:image" content="http://d3g9pb5nvr3u7.cloudfront.net/images/20150716/55a74a038be6ceff4a68a4c8/-875379350/830.jpg">
  <meta name="twitter:image" content="http://d3g9pb5nvr3u7.cloudfront.net/images/20150716/55a74a038be6ceff4a68a4c8/-875379350/830.jpg">
  <meta name="twitter:image:src" content="http://d3g9pb5nvr3u7.cloudfront.net/images/20150716/55a74a038be6ceff4a68a4c8/-875379350/830.jpg">
  <meta property="og:description" content="rantnrave:// Love to see what happens with officials who suspend UBER in any U.S. city during re-election. From UBER and/or voters. Do people love it that much?... Initial responses I don't like to...">
  <meta name="twitter:description" content="rantnrave:// Love to see what happens with officials who suspend UBER in any U.S. city during re-election. From UBER and/or voters. Do people love it that much?... Initial responses I don't like to...">
  <meta property="fb:app_id" content="1376394095921490">
  <meta name="twitter:site" content="@REDEF">
  <meta name="twitter:site:id" content="1373475852">
  <meta property="og:url" content="http://redef.com/mix/media-mix-1437026819480">
  <meta name="twitter:url" content="http://redef.com/mix/media-mix-1437026819480">
  <meta name="twitter:creator" content="@mediaREDEF">

 <!--  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
	<link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
	<!-- <link rel="stylesheet" href="assets/css/style.css"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
