<nav id="site-navbar" class="navbar navbar-fixed-top navbar-inverse site-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="site-brand" target="_blank" href="http://www.tradesparq.com/?lang=zh-CN">
        <img src='{{ "/assets/images/ts-logo-110w.png" | prepend: site.baseurl }}' alt="">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <!-- <ul class="nav navbar-nav">
        <li class="hvr-underline-from-center"><a href="http://www.tradesparq.com/content/about-us?lang=zh-CN">关于我们</a></li>
        <li class="hvr-underline-from-center"><a href="http://www.tradesparq.com/content/products-services?ref=topNav_pricing&lang=zh-CN">产品服务</a></li>
        <li class="hvr-underline-from-center"><a href="http://www.tradesparq.com/content/contact-us?lang=zh-CN">联系我们</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="hvr-buzz"><a class="nav-tel" href="tel:4000991219"><i class="fa fa-phone"></i>&nbsp;&nbsp; 400-099-1219</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav> 