/* @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans/Open_Sans_400.eot'); IE9 Compat Modes
  src: url('../fonts/OpenSans/Open_Sans_400.eot?#iefix') format('embedded-opentype'), IE6-IE8
       url('../fonts/OpenSans/Open_Sans_400.woff2') format('woff2'), Super Modern Browsers
       url('../fonts/OpenSans/Open_Sans_400.woff') format('woff'), Pretty Modern Browsers
       url('../fonts/OpenSans/Open_Sans_400.ttf')  format('truetype'), Safari, Android, iOS
       url('../fonts/OpenSans/Open Sans.svg#svgFontName') format('svg'); Legacy iOS
} */

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;

	-webkit-tap-highlight-color: transparent;
	height: 100%;
}

body {
	font-family: 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'WenQuanYi Micro Hei', sans-serif;
	height: 100%;
}

 /* Global section container */
// --------------------------------------------------
.site-section {
	@include display-flex();
	@include flex-direction(column);
	
	position: relative;

	width: 100%;
	height: 100%;
	
	// _home.scss
	@extend %section-home;
	// _intro.scss
	@extend %section-intro;
	// _whoweare.scss
	@extend %section-whoweare;
	// _features.scss
	@extend %section-features;
}

.site-section-unit {
	// _home.scs
	@extend %section-unit-home;
	// _whoweare.scss
	@extend %section-unit-whoweare;
	// _features.scss
	@extend %section-unit-features;
}












.features-wrapper {
	@include display-flex();
	@include flex-justify-content-center();
	@include flex-direction(column);

	// -webkit-align-self: flex-end;
	// -ms-flex-item-align: end;
	// align-self: flex-end;
	// margin-top: 10rem;
	max-width: 100%;
	
	@media (min-width: $screen-sm-min) { 
		@include flex-direction(row);
	}
	@media (max-width: $screen-sm-max) { 
		-webkit-flex-wrap: wrap;		
		-ms-flex-wrap: wrap;		
		flex-wrap: wrap;
	}
}



// Global section title
// --------------------------------------------------
.site-section-title {
	color: #000;
	margin: 0 0 35px;

	@media (min-width: $screen-md-min) {
		font-size: 5.2rem;
		// margin: 40px 0 60px;
		margin: 40px 0;
	}
	
	// _home.scs
	@extend %section-title-home;
	// _intro.scs
	@extend %section-title-intro;
	// _intro.scs
	@extend %section-sub-title-intro;
}

.mha {
	margin: 0 auto;
}

.mbn {
	margin-bottom: 0;
}

.man {
	margin: 0;
}




#trigger-navbar {
	position: absolute;
	bottom: 10%;
}
#trigger-whoweare {
	position: absolute;
	top: 70%;
}