// section -- features
%section-features {
	&.features {
		@include flex-justify-content-center();
		@include flex-direction(row);

		-webkit-align-items: flex-start;		
		-ms-flex-align: start;		
		align-items: flex-start;

		padding: 10rem 2rem;
		min-height: 50%;
	  height: auto;

		background-color: #fff;
		color: #000;
	}
	@media (max-width: $screen-sm-max) {
		&.features {
			@include flex-wrap(wrap);
			padding: 3rem 2rem;
		}
	}
}

// section unit -- features
%section-unit-features {
	&.features {
		padding: 0 15px;
		max-width: 100%;

		@media (min-width: $screen-sm-min) { 
			max-width: 50%;
			padding: 0 15px;
		}
		@media (min-width: $screen-md-min) { 
			max-width: 22%;
		}
		@media (max-width: $screen-sm-max) { 
			margin: 20px 0;
		}
	}
}

.feature-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background-color: rgba(0,0,0,0.35);
	max-width: 450px;
	margin: 0 auto;

	&:hover {
		background-color: rgba(0,0,0,0.65);
		a {
			text-shadow: 0 0 15px #fff;
		}
	}

	transition: background-color 0.85s ease;
}

.feature-overlay-inner {
	@include display-flex();
	@include flex-align-item-center();
	@include flex-justify-content-center();
	
	height: 100%;
	min-height: 100%;

	a {
		padding: 10px 30px;
		border: 1px solid #fff;
		color: #fff;
		text-decoration: none;
		border-radius: 4px;
	}
}

.feature-contact-btn {
	padding: 10px 30px;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.feature-title {
	text-align: center;
}

.feature-title-line {
	border-top: 2px solid #21c2f8;
	width: 90px;
	margin: 0 auto;
}

.feature-content {
	margin-top: 20px;
	color: #707070;
}

.feature-box {
	opacity: 1;
	// max-width: 450px;
	margin-bottom: 3rem;

	@media (min-width: $screen-md-min) { 
		margin: 0;
	}
}

.feature-img-wrapper {
	position: relative;

	img {
		margin: 0 auto;
	}
}