@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans/Open_Sans_400.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans/Open_Sans_400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans/Open_Sans_400.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans/Open_Sans_400.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSans/Open_Sans_400.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans/Open Sans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Font-Face */
@font-face {
font-family: 'Proxima';
       src: url(../fonts/Proxima/proximanova-regular-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
font-family: 'Proxima-extrabold';
       src: url(../fonts/Proxima/proximanova-regular-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}
/* 
@font-face {
       font-family: 'Proxima';
       font-style: italic;
       src: url(../fonts/Proxima/proximanova-regitalic-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-regitalic-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
       font-family: 'Proxima';
       font-weight: 300;
       src: url(../fonts/Proxima/proximanova-light-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-light-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-light-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-light-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
} */
/* @font-face {
       font-family: 'Proxima';
       font-weight: 600;
       src: url(../fonts/Proxima/proximanova-semibold-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-semibold-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-semibold-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-semibold-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
       font-family: 'Proxima';
       font-weight: 600;
       font-style: italic;
       src: url(../fonts/Proxima/proximanova-semibolditalic-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
       font-family: 'Proxima';
       font-weight: bold;
       src: url(../fonts/Proxima/proximanova-bold-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-bold-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-bold-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
       font-family: 'Proxima';
       font-weight: bold;
       font-style: italic;
       src: url(../fonts/Proxima/proximanova-boldit-webfont.eot?1307578394);
       src: url('../fonts/Proxima/proximanova-boldit-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-boldit-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-boldit-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
} */
// @font-face {
//        font-family: 'Proxima';
//        font-weight: 900;
//        src: url(../fonts/Proxima/proximanova-extrabold-webfont.eot?1307578394);
//        src: url('../fonts/Proxima/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(../fonts/Proxima/proximanova-extrabold-webfont.woff?1307578394) format('woff'),url(../fonts/Proxima/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'),url('../fonts/Proxima/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
// }

$font-base: 'Proxima', 'Open Sans', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'WenQuanYi Micro Hei', sans-serif !default;

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;

	-webkit-tap-highlight-color: transparent;
	height: 100%;
}

body {
	font-family: $font-base;
	height: 100%;
}

.home {
	padding-top: 80px;
}

.ts-navbar {
	margin-top: 30px;
}

.ts-navbar-sub {
	min-height: 30px;
	
	.navbar-nav > li > a {
		color: #fff;
	}
}

.ts-navbar-nav {
	font-size: 12px;

	& > li > a {
		padding: 5px 10px;
	}
}

.home-intro {
	position: relative;

	padding: 0;
	width: 100%;
	// min-height: 600px;
	height: 100%;

	background-image: url("/assets/images/iStock_000032753354Large.jpg");
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
	color: #fff;
	background-color: #2e3037;

	text-align: center;
}

.color-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.3);
	z-index: 99;
}

.home-header {
	display: block;
	font-size: 62px;
	font-weight: 700;
	font-family: 'Proxima-extrabold';

	padding-top: 50px;
}

.home-sub-header-unit {
	display: inline-block;
	font-size: 24px;
	text-transform: uppercase;

	margin-bottom: 45px;

	&:nth-child(2) {
		&:before {
			content: '\f111';
			font: normal normal normal 14px/1 FontAwesome;
			-webkit-font-smoothing: antialiased;
			text-rendering: auto;
			margin: 0 20px;
			font-size: 10px;
			color: #F64747;
			vertical-align: middle;
			display: inline-block;
		}

		&:after {
			content: '\f111';
			font: normal normal normal 14px/1 FontAwesome;
			-webkit-font-smoothing: antialiased;
			text-rendering: auto;
			margin: 0 20px;
			font-size: 10px;
			color: #F64747;
			vertical-align: middle;
			display: inline-block;
		}
	}
}

.btn-join {
	background-color: #ee5457;
}

/* .home-clients-unit {
	max-width: 340px;
	display: inline-block;
	vertical-align: top;
	// border: 1px solid #fff;
	// border-bottom: 0;
}

.home-clients-pic {
	border: 1px solid #fff;
	border-bottom: 0;
}

.home-our-clients {
	margin-top: -255px;
	text-align: center;
	position: relative;
	font-size: 0;
}

.home-clients-content {
	min-height: 150px;

	padding: 0 20px 35px;
	border: 1px solid #ccc;

	&:nth-child(2) {
		border-left: none;
		border-right: none;
		box-shadow: 1px 0 5px rgba(0,0,0,0.1), -1px 0 5px rgba(0,0,0,0.1);
	}

	p {
		font-size: 14px;
	}
} */

.home-intro-footer {
	position: absolute;
	bottom: 0;

	width: 100%;
}

.display-flex {
	display: flex;
	-webkit-justify-content: center;	
	-ms-flex-pack: center;	
	justify-content: center;
}

.home-clients-img {
	border: 1px solid #fff;
	border-bottom: 0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  img {
  	width: 100%;
  	max-width: 100%;
  }
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.home-clients-container {
	max-width: 1024px;
	margin: 0 auto;
}

.home-clients-unit {
	border: 1px solid #fff;
	border-bottom: none;
}

.home-clients-body {
	padding: 0 20px;
}

.home-clients-content {
	min-height: 95px;
}