@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/Hover/scss/hover";

// @import "mixins";
@import "header";
// @import "home";
// @import "intro";
// @import "whoweare";
// @import "features";
// @import "base";
// @import "footer";

@import "customs";

@import "all";
@import "ts-home";